@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_PagesLayout.cshtml";
}

<!-- About Start -->
<div class="container-fluid about py-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-4">
                <div class="img">
                    <img src="~/sparlex/img/BatuhanOzyilmaz1.jpg" class="img-fluid rounded" alt="">
                </div>
            </div>
            <div class="col-lg-8">
                <div>
                    <p class="fs-4 text-uppercase text-primary">Junior Software Developer</p>
                    <h1 class="display-4 mb-4">Batuhan ÖZYILMAZ</h1>
                    <p class="mb-4">
                        Çanakkale Onseki Mart Üniversitesi Mühendislik bölümünden mezun oldu.2 Yıllık harita mühendisliği alanında yapılaşma süreçlerinin yönetilmesi ve altyapıların oluşturulması gibi önemli görevleri üstlenir. Bu görevler, gelişmiş yazılım ve teknoloji kullanımıyla daha verimli ve etkili hale getirilebilir. Harita ve kadastro mühendisliği bürolarında geçirdiğim süre boyunca, arazide ve ofiste çalışarak bu sürecin nasıl optimize edilebileceğini gözlemledim.Ancak, sadece harita mühendisliği alanında değil, aynı zamanda yazılım geliştirme sektöründe de deneyim sahibi oldum. .NET Framework ve Microsoft'un teknolojileriyle tanıştığım BilgeAdam Boost eğitimi, yazılım geliştirme süreçlerine farklı bir bakış açısı kazandırdı. C# programlama dili ve ASP.NET Core MVC gibi framework'lerle çalışarak, endüstri standartlarına uygun ve güvenilir yazılım çözümleri üretmeyi öğrendim.Bu süreçte, çeşitli projelere katıldım. Katıldığım diğer projeleri GitHub profilinden inceleyebilirsiniz.
                    </p>
                </div>
                <a href="https://www.linkedin.com/in/batuhanozyilmaz/" class="btn btn-primary btn-primary-outline-0 rounded-pill py-3 px-5">LinkedIn</a>
                <a href="https://github.com/batuhanozylmz" class="btn btn-light btn-light-outline-0 rounded-pill py-3 px-5 me-4">GitHub</a>
            </div>
        </div>
    </div>
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-8">
                <div>
                    <p class="fs-4 text-uppercase text-primary">Junior Software Developer</p>
                    <h1 class="display-4 mb-4">Doğa Karaküçük</h1>
                    <p class="mb-4">
                        Anadolu Üniversitesi İstatistik bölümünden mezun oldu. 3 yıllık üretim planlama tecrübesinin ardından yazılım sektöründeki geliştirilebilirlik onda merak uyandırdı ve kariyerini yazılım alanında devam ettirmeye karar verdi. Yazılım eğitimini Bilge Adam Boost Yıldız Yazılımcı Geliştirme Programı ile Full Stack .NET Developer olarak tamamladı. C#, Web Forms, Nesne Yönelimli Programlama (OOP), Microsoft T-SQL, ORM araçları ve Veri erişimi ve Yönetimi (EF Core), ASP .Net Core, ASP .Net Core MVC, HTML , CSS, JavaScript, Bootstrap, jQuery, WebAPI (Restful), Katmanlı Mimari ve React eğitimlerinde küçük ve orta seviyede birçok projeye katıldı. 4 kişilik bir ekip ile bir masaüstü diyet uygulaması geliştirdi. Şu anda WEB üzerine Bir İK Yönetim Sistemi Uygulaması geliştirecekler. Dahil olduğu projelere GitHub profilinden erişim sağlayabilirsiniz. Eğitimi sonrası Bilge Adam bünyesinde 2 aylık staj dönemi gerçekleşecektir. Katıldığı projeleri GitHub profilinden inceleyebilirsiniz.
                    </p>
                </div>
                <a href="https://www.linkedin.com/in/dogakarakucuk/" class="btn btn-primary btn-primary-outline-0 rounded-pill py-3 px-5">LinkedIn</a>
                <a href="https://github.com/dogakarakucuk" class="btn btn-light btn-light-outline-0 rounded-pill py-3 px-5 me-4">GitHub</a>
            </div>
            <div class="col-lg-4">
                <div class="img">
                    <img src="~/sparlex/img/DogaKarakucuk.jpg" class="img-fluid rounded" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-4">
                <div class="img">
                    <img src="~/sparlex/img/MerveKocak.jpg" class="img-fluid rounded" alt="">
                </div>
            </div>
            <div class="col-lg-8">
                <div>
                    <p class="fs-4 text-uppercase text-primary">Junior Software Developer</p>
                    <h1 class="display-4 mb-4">Merve Koçak</h1>
                    <p class="mb-4">
                        Gebze Teknik Üniversitesi Elektronik Mühendisliği bölümünden mezun oldu. Kariyerine Strateji Planlama ve Analiz departmanında Operasyonel Verimlilik ve Analiz Uzman Yardımcısı olarak başladı. Burada çalışırken, verimlilik süreçlerindeki sorunları çözmek için yazılım fikirleri geliştirdi. Ancak, üniversitede edindiği yazılım bilgilerinin yetersiz olduğunu fark etti ve bu eksikliği gidermek için Bilgeadam Boost Yazılım Geliştirme Programı'na katıldı. Bu program sayesinde yazılım dünyasına daha derin bir bakış açısı kazandı ve kariyerini tamamen yazılım alanına odakladı. Bu süreçte, çeşitli projelere katıldı. Katıldığı projeleri GitHub profilinden inceleyebilirsiniz.
                    </p>
                </div>
                <a href="https://www.linkedin.com/in/mervekocakk/" class="btn btn-primary btn-primary-outline-0 rounded-pill py-3 px-5">LinkedIn</a>
                <a href="https://github.com/mervekck" class="btn btn-light btn-light-outline-0 rounded-pill py-3 px-5 me-4">GitHub</a>
            </div>
        </div>
    </div>
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-8">
                <div>
                    <p class="fs-4 text-uppercase text-primary">Junior Software Developer</p>
                    <h1 class="display-4 mb-4">Murat Yeydem</h1>
                    <p class="mb-4">
                        Hayatı boyunca farklı disiplinlerden insanlarla bir araya gelme, takım çalışması yapma ve ortak üretimde bulunma fırsatı buldu. Bu deneyimler sayesinde hızla uyum sağlayabileceğini düşünüyor. İşine olan tutkusu ve detaylara verdiği önemle bilinir. Esneklik, insan ilişkilerinde verimliliği arttıran önemli bir unsurdur ve bunu tecrübe etmiş biri. Yeniliklere açık olmak, yeteneklerini geliştirmek ve bu süreçte insan ilişkilerinden öğrenmek onun için kilit noktalardır. İş arkadaşlarıyla bilgi paylaşımı yapmak, onun için son derece değerlidir. Zihinsel ve fiziksel olarak aktif kalarak, hem iş hayatında hem de kişisel olarak yaratıcı olmanın önemini biliyor. Şu anda Bilgeadam'ın Boost Yazılım Geliştirme Programı'nda Full Stack .NET Developer eğitimi alıyor. Katıldığı projeleri GitHub profilinden inceleyebilirsiniz.
                    </p>
                </div>
                <a href="https://www.linkedin.com/in/murat-yeydem/" class="btn btn-primary btn-primary-outline-0 rounded-pill py-3 px-5">LinkedIn</a>
                <a href="https://github.com/muratyeydem" class="btn btn-light btn-light-outline-0 rounded-pill py-3 px-5 me-4">GitHub</a>
            </div>
            <div class="col-lg-4">
                <div class="img">
                    <img src="~/sparlex/img/MuratYeydem.jpg" class="img-fluid rounded" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-4">
                <div class="img">
                    <img src="~/sparlex/img/SibelDuman.jpg" class="img-fluid rounded" alt="">
                </div>
            </div>
            <div class="col-lg-8">
                <div>
                    <p class="fs-4 text-uppercase text-primary">Junior Software Developer</p>
                    <h1 class="display-4 mb-4">Sibel Duman</h1>
                    <p class="mb-4">
                        Aksaray Üniversitesi Makine Mühendisliği bölümünden mezun oldu. 4 yıllık Yazılım Destek Uzmanlığı tecrübesinin ardından teknoloji ve yazılım alanına olan merakı sayesinde kariyer hedefini yazılım alanında ilerletmeye karar verdi. Ancak, üniversitede edindiği yazılım bilgilerinin yetersiz olduğunu fark etti ve bu eksikliği gidermek için 9 ay süren Bilgeadam Boost Yazılım Geliştirme Programı'na katıldı. Bu program sayesinde hem front-end hem de back-end geliştirme konularında bilgi ve deneyim kazandı. Bu süreçte kazandığı deneyimleri çeşitli projelere katılarak pekiştirdi. Katıldığı projeleri GitHub profilinden inceleyebilirsiniz.
                    </p>
                </div>
                <a href="https://www.linkedin.com/in/sibel-duman-47a4591b3/" class="btn btn-primary btn-primary-outline-0 rounded-pill py-3 px-5">LinkedIn</a>
                <a href="https://github.com/sibelDuman" class="btn btn-light btn-light-outline-0 rounded-pill py-3 px-5 me-4">GitHub</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
