@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_PagesLayout.cshtml";
}

<div class="container-fluid services py-5">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 800px;">
            <p class="fs-4 text-uppercase text-center text-primary">Neler Var?</p>
            <h1 class="display-3">Uygulamalar</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-6">
                <div class="services-item bg-light border-4 border-end border-primary rounded p-4">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <div class="services-content text-end">
                                <h3>Personel</h3>
                                <p>Çalışanların tüm bilgilerini tek uygulamada yönetin</p>
                                <a href="#" class="btn btn-primary btn-primary-outline-0 rounded-pill py-2 px-4">İncele</a>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="services-img d-flex align-items-center justify-content-center rounded">
                                <img src="~/assets/images/dashboard/9.jpeg" class="img-fluid rounded" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="services-item bg-light border-4 border-start border-primary rounded p-4">
                    <div class="row align-items-center">
                        <div class="col-4">
                            <div class="services-img d-flex align-items-center justify-content-center rounded">
                                <img src="~/assets/images/dashboard/11.jpeg" class="img-fluid rounded" alt="">
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="services-content text-start">
                                <h3>Performans</h3>
                                <p>Çalışanları online performans değerlendirmeye dahil edin</p>
                                <a href="#" class="btn btn-primary btn-primary-outline-0 rounded-pill py-2 px-4">İncele</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="services-item bg-light border-4 border-end border-primary rounded p-4">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <div class="services-content text-end">
                                <h3>İşe Alım ve Aday Takip</h3>
                                <p>İşe alım süreçlerinizi tek bir platformdan yönetin</p>
                                <a href="#" class="btn btn-primary btn-primary-outline-0 rounded-pill py-2 px-4">İncele</a>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="services-img d-flex align-items-center justify-content-center rounded">
                                <img src="~/assets/images/dashboard/8.jpeg" class="img-fluid rounded" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="services-item bg-light border-4 border-start border-primary rounded p-4">
                    <div class="row align-items-center">
                        <div class="col-4">
                            <div class="services-img d-flex align-items-center justify-content-center rounded">
                                <img src="~/assets/images/dashboard/12.jpeg" class="img-fluid rounded" alt="">
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="services-content text-start">
                                <h3>Vardiya</h3>
                                <p>Çalışma zamanınızı en verimli şekilde planlayın ve yönetin</p>
                                <a href="#" class="btn btn-primary btn-primary-outline-0 rounded-pill py-2 px-4">İncele</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="services-item bg-light border-4 border-end border-primary rounded p-4">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <div class="services-content text-end">
                                <h3>Ücret Değerlendirme</h3>
                                <p>Çalışan maaşlarını güncelleyin, yönetin ve raporlayın</p>
                                <a href="#" class="btn btn-primary btn-primary-outline-0 rounded-pill py-2 px-4">İncele</a>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="services-img d-flex align-items-center justify-content-center rounded">
                                <img src="~/assets/images/dashboard/7.jpg" class="img-fluid rounded" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="services-item bg-light border-4 border-start border-primary rounded p-4">
                    <div class="row align-items-center">
                        <div class="col-4">
                            <div class="services-img d-flex align-items-center justify-content-center rounded">
                                <img src="~/assets/images/dashboard/6.png" class="img-fluid rounded" alt="">
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="services-content text-start">
                                <h3>İK Analitiği</h3>
                                <p>Anlık İK verilerinizi tek platformda takip edin, veri odaklı kararlar alın</p>
                                <a href="#" class="btn btn-primary btn-primary-outline-0 rounded-pill py-2 px-4">İncele</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>