@{
    ViewData["Title"] = "Pages";
    Layout = "~/Views/Shared/_PagesLayout.cshtml";
}

<div class="container-fluid about py-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-8">
                <div class="col-lg-12">
                    <img src="~/assets/images/dashboard/purpleik.png" class="img-fluid rounded" alt="">
                </div>
            </div>
            <div class="col-lg-4">
                <p class="fs-4 text-uppercase text-primary">Personel Ana Sayfası</p>

                <p class="mb-4">İşverenlerin ve insan kaynakları profesyonellerinin tüm personel yönetimi ihtiyaçlarını tek bir yerden yönetmelerini sağlayan kullanıcı dostu bir platformdur. Burada personel bilgilerini görüntüleyebilir, işe alım süreçlerini yönetebilir, performansı izleyebiliriz. Ayrıca, iş gücü analizi ve raporlama gibi özelliklerle verimliliği artırabilir ve stratejik kararlar alabilirsiniz.</p>

                <a href="#" class="btn btn-primary btn-primary-outline-0 rounded-pill py-3 px-5">Başvuru Yapınız</a>
            </div>
        </div>
    </div>
</div>