@using PurpleIK.UI.Areas.CompanyManager.Models.VM.PersonalInformationVM
@model PersonalInformationAddVM
@{
    ViewData["Title"] = "Add";
    var successMessage = TempData["SuccessInformationMessage"] as string;
    var errorMessage = TempData["ErrorInformationMessage"] as string;
}
@if (!string.IsNullOrEmpty(successMessage))
{
    <div id="successAlert" class="alert alert-success" role="alert">
        @successMessage
    </div>
}

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div id="errorAlert" class="alert alert-danger" role="alert">
        @errorMessage
    </div>
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 style="font-weight: bold; color: #9a55ff ;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;font-size: 28px;position: center;" class="card-title" align="center">Personele Özlük Belgesi Ekleme Sayfası</h4>
            <hr />
            <table class="table table-striped">
                <form asp-action="Add" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="PersonalInformationAddItem.FormName">Özlük Belgesi Adı</label>
                        <input asp-for="PersonalInformationAddItem.FormName" class="form-control" required />
                        <span asp-validation-for="PersonalInformationAddItem.FormName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PersonalInformationAddItem.PersonalInformationFormFile">PDF Dosyası Yükle</label>
                        <input asp-for="PersonalInformationAddItem.PersonalInformationFormFile" class="form-control" type="file" accept=".pdf" required />
                        <span asp-validation-for="PersonalInformationAddItem.PersonalInformationFormFile" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PersonalInformationAddItem.PersonId">Personel</label>
                        @if (Model != null && Model.Persons != null && Model.Persons.Any())
                        {
                            <select asp-for="PersonalInformationAddItem.PersonId" class="form-control" required>
                                <option value="">Çalışan Seç</option>
                                @foreach (var person in Model.Persons)
                                {
                                    <option value="@person.Id">@person.FirstName @person.LastName - @person.CompanyEmail</option>
                                }
                            </select>
                        }
                        else
                        {
                            <span class="text-danger">Çalışan bulunamadı.</span>
                        }
                        <span asp-validation-for="PersonalInformationAddItem.PersonId" class="text-danger"></span>
                    </div>
                    <input type="hidden" asp-for="PersonalInformationAddItem.ManagerId" />

                    <div class="form-group" align="center">
                        <button type="submit" class="btn btn-gradient-primary btn-icon-text"><i class="mdi mdi-file-check btn-icon-prepend"></i>Kaydet</button>
                    </div>
                </form>
            </table>
        </div>
    </div>
</div>

@* <div>
    <a asp-action="Index">Back to List</a>
</div>
 *@
