@model PurpleIK.UI.Models.VM.AccountVM.ForgotPasswordVM
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LoginRegister.cshtml";
}

@{
    // TempData'den SuccessMessage veya ErrorMessage anahtarlarını al
    var successMessage = TempData["SuccessMessage"] as string;
    var errorMessage = TempData["ErrorMessage"] as string;
}

@if (!string.IsNullOrEmpty(successMessage))
{
    <div id="successAlert" class="alert alert-success" role="alert">
        @successMessage
    </div>
}

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div id="errorAlert" class="alert alert-danger" role="alert">
        @errorMessage
    </div>
}

<form asp-action="ForgotPassword" method="post">
    <div class="form-group">
        <input asp-for="FirstName" class="form-control form-control-lg" placeholder="Ad">
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="LastName" class="form-control form-control-lg" placeholder="Soyad">
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="Email" class="form-control form-control-lg" placeholder="Kişisel Email">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mt-3">
        <button type="submit" class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn">GÖNDER</button>
    </div>
    <div class="my-2 d-flex justify-content-between align-items-center">
        <a href="@Url.Action("Login", "Account")" class="auth-link text-black" style="font-size: 12px; color: black; text-decoration: none;">Giriş Ekranına Dön</a>
    </div>
</form>
@section Scripts {
    <script>
        // Remove success message after 5 seconds
        setTimeout(function () {
            $('#successAlert').fadeOut('slow');
        }, 3000);

        // Remove error message after 5 seconds
        setTimeout(function () {
            $('#errorAlert').fadeOut('slow');
        }, 3000);
    </script>
}

